@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root{
    --primary-font-family: "Open Sans", sans-serif;
}

html, body, #root {
    height: 100%; /* ✅ thêm dòng này */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: var(--primary-font-family);
    text-rendering: optimizeSpeed;
    font-weight: 400;
    color: #202124;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #202124;
}